In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.neural_network import MLPRegressor
import seaborn as sns
from census import Census
import statsmodels.formula.api as smf
import statsmodels.api as sm
import scipy.stats as sps
from sklearn.preprocessing import FunctionTransformer, OneHotEncoder, StandardScaler, PolynomialFeatures
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression, ElasticNetCV,LogisticRegression
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import mean_squared_error,accuracy_score,precision_score,classification_report,confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.impute import SimpleImputer
import sklearn
import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [2]:
df = pd.read_csv('preprocessed_data.csv')
df

,Unnamed: 0,SHRP_ID,STATE_CODE,VISIT_DATE,IRI_LEFT_WHEEL_PATH,IRI_RIGHT_WHEEL_PATH,MAX_ANN_HUM_AVG,MIN_ANN_HUM_AVG,MEAN_ANN_TEMP_AVG,FREEZE_THAW_YR,TOTAL_ANN_PRECIP,TOTAL_SNOWFALL_YR,AADT_ALL_VEHIC,MEPDG_TRANS_CRACK_LENGTH_AC,Mean_IRI,year,construction_time
0,0,0001,48,1990-03-06,0.6904,0.6570,89.222222,44.814815,20.363636,15.303030,859.939394,12.424242,-1.000000,12.881818,0.6737,1990,32
1,1,0001,48,1992-03-17,0.6894,0.7312,89.222222,44.814815,20.363636,15.303030,859.939394,12.424242,-1.000000,12.881818,0.7103,1992,30
2,2,0001,48,1993-07-13,0.7472,0.6938,89.222222,44.814815,20.363636,15.303030,859.939394,12.424242,-1.000000,12.881818,0.7205,1993,29
3,3,0001,48,1995-05-03,0.7092,0.7838,89.222222,44.814815,20.363636,15.303030,859.939394,12.424242,-1.000000,12.881818,0.7465,1995,27
4,4,0001,48,1997-08-06,0.7600,0.7508,89.222222,44.814815,20.363636,15.303030,859.939394,12.424242,-1.000000,12.881818,0.7554,1997,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29765,29765,Q350,48,1995-05-01,1.2042,1.1674,88.333333,43.666667,18.636364,36.295455,743.522727,15.431818,1158.809524,-1.000000,1.1858,1995,27
29766,29766,Q350,48,2001-04-18,1.1592,1.0578,88.333333,43.666667,18.636364,36.295455,743.522727,15.431818,1158.809524,-1.000000,1.1085,2001,21
29767,29767,Q353,48,1990-09-17,1.1030,0.7784,88.333333,43.666667,18.636364,36.295455,743.522727,15.431818,1158.809524,2.183333,0.9407,1990,32
29768,29768,Q353,48,1995-05-01,1.2294,1.0444,88.333333,43.666667,18.636364,36.295455,743.522727,15.431818,1158.809524,2.183333,1.1369,1995,27
29769,29769,Q353,48,2001-04-18,1.1338,0.9110,88.333333,43.666667,18.636364,36.295455,743.522727,15.431818,1158.809524,2.183333,1.0224,2001,21

## 🌵Each time you run these models, change the number in random_state. 

### Run three times totally, remember to record these results in the google sheets.

In [ ]:
train, test = train_test_split(df, test_size=0.25, random_state=12345) #<--change

In [ ]:
feat_cols = ['AADT_ALL_VEHIC','construction_time', 'MEPDG_TRANS_CRACK_LENGTH_AC']
out_col = 'Mean_IRI'
train_x = train[feat_cols]
train_y = train[out_col]
test_x = test[feat_cols]
test_y = test[out_col]

### regression

1. Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import time

rm_pipe = Pipeline([
    ('columns', ColumnTransformer([
        ('AADT',MinMaxScaler(),['AADT_ALL_VEHIC']),
        ('Crack',MinMaxScaler(),['MEPDG_TRANS_CRACK_LENGTH_AC']),
        ('time',MinMaxScaler(),['construction_time'])
    ])),
    ('model', RandomForestRegressor(max_depth=5, random_state=0,n_estimators=100))
])
start_time = time.time()
rm_pipe.fit(train_x,train_y)
end_time = time.time()
print('training-time:',end_time - start_time)
print('train-MSE:',mean_squared_error(train_y,rm_pipe.predict(train_x)))
print('train-r2:',r2_score(train_y,rm_pipe.predict(train_x)))
print('test-MSE:',mean_squared_error(test_y,rm_pipe.predict(test_x)))
print('test-r2:',r2_score(test_y,rm_pipe.predict(test_x)))

start_time1 = time.time()
rm_pipe.predict(test_x)
end_time1 = time.time()

print('test-time:',end_time1 - start_time1)

2. KNN

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knn_pipe = Pipeline([
    ('columns', ColumnTransformer([
        ('AADT',MinMaxScaler(),['AADT_ALL_VEHIC']),
        ('Crack',MinMaxScaler(),['MEPDG_TRANS_CRACK_LENGTH_AC']),
        ('time',MinMaxScaler(),['construction_time'])
    ])),
    ('model', KNeighborsRegressor(n_neighbors=5))
])
start_time = time.time()
knn_pipe.fit(train_x,train_y)
end_time = time.time()
print('training-time:',end_time - start_time)
print('train-MSE:',mean_squared_error(train_y,knn_pipe.predict(train_x)))
print('train-r2:',r2_score(train_y,knn_pipe.predict(train_x)))
print('test-MSE:',mean_squared_error(test_y,knn_pipe.predict(test_x)))
print('test-r2:',r2_score(test_y,knn_pipe.predict(test_x)))

start_time1 = time.time()
knn_pipe.predict(test_x)
end_time1 = time.time()

print('test-time:',end_time1 - start_time1)

In [ ]:
from sklearn.linear_model import LinearRegression
lr_pipe = Pipeline([
    ('columns', ColumnTransformer([
        ('AADT',MinMaxScaler(),['AADT_ALL_VEHIC']),
        ('Crack',MinMaxScaler(),['MEPDG_TRANS_CRACK_LENGTH_AC']),
        ('time',MinMaxScaler(),['construction_time'])
    ])),
    ('model', LinearRegression())
])
start_time = time.time()
lr_pipe.fit(train_x,train_y)
end_time = time.time()
print('training-time:',end_time - start_time)
print('train-MSE:',mean_squared_error(train_y,lr_pipe.predict(train_x)))
print('train-r2:',r2_score(train_y,lr_pipe.predict(train_x)))
print('test-MSE:',mean_squared_error(test_y,lr_pipe.predict(test_x)))
print('test-r2:',r2_score(test_y,lr_pipe.predict(test_x)))

start_time1 = time.time()
lr_pipe.predict(test_x)
end_time1 = time.time()

print('test-time:',end_time1 - start_time1)

In [ ]:
from sklearn.svm import SVR
svr_pipe = Pipeline([
    ('columns', ColumnTransformer([
        ('AADT',MinMaxScaler(),['AADT_ALL_VEHIC']),
        ('Crack',MinMaxScaler(),['MEPDG_TRANS_CRACK_LENGTH_AC']),
        ('time',MinMaxScaler(),['construction_time'])
    ])),
    ('model', SVR(kernel='rbf'))
])
start_time = time.time()
svr_pipe.fit(train_x,train_y)
end_time = time.time()
print('training-time:',end_time - start_time)
print('train-MSE:',mean_squared_error(train_y,svr_pipe.predict(train_x)))
print('train-r2:',r2_score(train_y,svr_pipe.predict(train_x)))
print('test-MSE:',mean_squared_error(test_y,svr_pipe.predict(test_x)))
print('test-r2:',r2_score(test_y,svr_pipe.predict(test_x)))

start_time1 = time.time()
svr_pipe.predict(test_x)
end_time1 = time.time()

print('test-time:',end_time1 - start_time1)

In [ ]:
# !pip install xgboost

In [ ]:
import xgboost as xgb
xgb_pipe = Pipeline([
    ('columns', ColumnTransformer([
        ('AADT',MinMaxScaler(),['AADT_ALL_VEHIC']),
        ('Crack',MinMaxScaler(),['MEPDG_TRANS_CRACK_LENGTH_AC']),
        ('time',MinMaxScaler(),['construction_time'])
    ])),
    ('model', xgb.XGBRegressor())
])
start_time = time.time()
xgb_pipe.fit(train_x,train_y)
end_time = time.time()
print('training-time:',end_time - start_time)
print('train-MSE:',mean_squared_error(train_y,xgb_pipe.predict(train_x)))
print('train-r2:',r2_score(train_y,xgb_pipe.predict(train_x)))
print('test-MSE:',mean_squared_error(test_y,xgb_pipe.predict(test_x)))
print('test-r2:',r2_score(test_y,xgb_pipe.predict(test_x)))

start_time1 = time.time()
xgb_pipe.predict(test_x)
end_time1 = time.time()

print('test-time:',end_time1 - start_time1)